<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Основы Vue</title>
    <link rel="stylesheet" href="theme.css" />
  </head>
  <body>

  <div class="container" id="app">
    <div class="card">
      <h1>План по изучению Vue.js</h1>

      <div class="steps">
        <div class="steps-content">
          {{activeText}}
        </div>
        <ul class="steps-list">
          <li 
          v-for="(step,idx) in steps" 
          class="steps-item" 
          :class="{ active: activeIndex === idx, done: activeIndex > idx }"
          @click="setActive(idx)"
          >
            <span>{{ idx+1 }}</span>{{ step.title }}
          </li>
        </ul>
        <div v-if="!endWork">
          <button class="btn" @click="prev" :disabled="disablePrev" >Назад</button>
          <button class="btn primary" @click="nextOfFinish">{{(!lastStep) ? 'Вперед' : 'Закончить'}}</button>
        </div>  
        <div v-else>
          <button class="btn" @click="reset" v-if="endWork">Начать заново</button>
        </div>
      </div>
    </div>
  </div>

  <script src="https://unpkg.com/vue@next"></script>
  <script src="vue.js"></script>
  </body>
</html>
